<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Cache-control" content="public">
        {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'temp.css' %}"> 
    </head>

    <body>
        <div id='dashboard'>
        <h3>Built by 200050007-200050060</h3>
        <h1>Welcome to GitHub Profiles!</h1>
        {% if user.is_authenticated %}
         <button onclick="window.location.href='/accounts/logout'">Logout</button>
         <button onclick="window.location.href='/explore/'">Explore</button>
         <button onclick="window.location.href='/explore/{{user}}'">MyProfile</button>
        {% else %}
        <button onclick="window.location.href='/accounts/login'">Login</button>
        <button onclick="window.location.href='/myapp/signup'">Signup</button>
        {% endif %}
        </div>

        {% block content %}
        {% endblock %}
    </body>
</html>