{% extends 'base.html' %}

{% block content %}
<div id='profile'>
{% if user.is_authenticated %}
<h1>{{person.first_name}} {{person.last_name}}(@{{person.username}})</h1>
{% if profile.followers == -1 %}
<p style='color:red'>Unable to access this username on github.com</p>
{% else %}
<p>{{profile.followers}} followers</p>
{% endif %}
<p>Profile last updated: {{profile.update_time}}</p>
{% if person == user %}
<button onclick="window.location.href='update_prof'">Update now</button>
{% endif %}
<ul>
    {% for repo in repos %}
    <li>
    <b>{{repo.name}}</b> {{repo.stars}} stars
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>

{% endblock %}